{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags hitcount_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand navbar-left js-scroll-trigger" href="/">
      <img src="{% static 'img/logo.png' %}" height="70"></img>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/productos/">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/basket/">Carrito</a>
          </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">{{ page.header }}</div>
      <div class="intro-heading">{{ page.subheader }}</div>
      <!--<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>-->
    </div>
  </div>
</header>

<!-- Services -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ page.section_one_title }}</h2>
        <h3 class="section-subheading text-muted">{{ page.section_one_body|richtext }}</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">{{ page.section_one_item_one_title }}</h4>
        <p class="text-muted">{{ page.section_one_item_one_body|richtext }}</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">{{ page.section_one_item_two_title }}</h4>
        <p class="text-muted">{{ page.section_one_item_two_body|richtext }}</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-birthday-cake fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">{{ page.section_one_item_three_title }}</h4>
        <p class="text-muted">{{ page.section_one_item_three_body|richtext }}</p>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ page.section_two_title }}</h2>
        <h3 class="section-subheading text-muted">{{ page.section_two_body|richtext }}</h3>
      </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-12 text-center">
            <a class="btn btn-primary" href="{{ page.get_children.first.url }}">Ver todos</a>
        </div>
    </div> -->
    <div class="row">
      {% for category in page.get_children.first.get_children %}
        {% with category=category.specific %}
          {% for product in category.get_children %}
            {% with product=product.specific %}
              {% if product.featured_product %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                  <!-- <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ product.pk }}"> -->
                  <a class="portfolio-link" href="{% pageurl product %}">
                    <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                      </div>
                    </div>
                    {% image product.first_image.image fill-350x320-c100 class="img-fluid" %}
                  </a>
                  <div class="portfolio-caption">
                    <h4>{{ product.title }}</h4>
                    <!--<p class="text-muted">Illustration</p>-->
                  </div>
                </div>
              {% endif %}
            {% endwith %}
          {% endfor %}
        {% endwith %}
      {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a class="btn btn-primary btn-xl text-uppercase" href="{{ page.get_children.first.url }}">Ver todos</a>
        </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ page.section_three_title }}</h2>
        <h3 class="section-subheading text-muted">{{ page.section_three_body|richtext }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div style="width: 100%"><iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&amp;height=400&amp;hl=en&amp;coord=-12.1111,-77.0316&amp;q=Miraflores%2C%20Lima%2C%20Per%C3%BA+(Julie%20Bakes)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Embed Google Map</a></iframe></div><br/>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Julie Bakes 2018</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://instagram.com/julievbakes" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://facebook.com/Julie-Bakes-1676178559145386/" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <!--<li class="list-inline-item">-->
            <!--<a href="#">-->
              <!--<i class="fa fa-linkedin"></i>-->
            <!--</a>-->
          <!--</li>-->
        </ul>
      </div>
      <div class="col-md-4">
       <ul class="list-inline quicklinks">
         <li class="list-inline-item">
           <span id="hitcount"></span>
           <!-- <a href="#"></a> -->
         </li>
         <!-- <li class="list-inline-item"> -->
      <!--      <a href="#">Terms of Use</a>-->
      <!--    </li>-->
       </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Portfolio Modals -->

{% for category in page.get_children %}
{% with category=category.specific %}
  <!-- <h3>{{category.title}}</h3> -->
  {% for product in category.get_children %}
    {% with product=product.specific %}
      {% if product.featured_product %}
        <div class="portfolio-modal modal fade" id="#portfolioModal{{ product.pk }}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                  <div class="rl"></div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-lg-8 mx-auto">
                    <div class="modal-body">
                      <!-- Project Details Go Here -->
                      <h2 class="text-uppercase">{{ product.title }}</h2>
                      <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                      <!-- {% image product.images.first.image original class="img-fluid d-block mx-auto" %} -->
                      <!-- <img class="img-fluid d-block mx-auto" src="{% static 'img/tortas/torta_de_pina.jpg' %}" alt=""> -->
                      <!-- <p>{{ product.description|richtext }}</p> -->
                      <!--<ul class="list-inline">-->
                        <!--<li>Date: January 2017</li>-->
                        <!--<li>Client: Threads</li>-->
                        <!--<li>Category: Illustration</li>-->
                      <!--</ul>-->
                      <button class="btn btn-primary" data-dismiss="modal" type="button">
                        <i class="fa fa-times"></i>
                        Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endwith %}
  {% endfor %}
{% endwith %}
{% endfor %}

{% endblock %}

{% block extra_css %} 

<style>
  #contact p {
    color: white;
  }

  .intro-heading {
    font-family: 'Alex Brush', cursive !important;
    font-weight: 400 !important;
  }
</style>

{% endblock %}

{% block extra_js %}

{% get_hit_count for page as hitcount %}
{% get_hit_count_js_variables for page as hitcount_js %}
<script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    // use the template tags in our JavaScript call
    $.postCSRF("{{ hitcount_js.ajax_url }}", { hitcountPK : "{{ hitcount_js.pk }}" })
      .done(function(data){
        console.log(data.hit_counted);
        console.log(data.hit_message);
        $('#hitcount').text("Visitas: {{hitcount}}");
    }).fail(function(data){
        console.log('POST failed');
        console.log(data);
    });
  });
</script>

{% endblock %}
