{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<!-- Header -->
<header> 
  <div class="container">
    <div class="intro-text"></div>
  </div>
</header>

<!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
  
{% for category in page.get_children %}
  {% with category=category.specific %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ category.title }}</h2>
        </div>
      </div>
      <div class="row">
        {% for product in category.get_children %}
          {% with product=product.specific %}
            <div class="col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="{{ product.url }}">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fa fa-plus fa-3x"></i>
                  </div>
                </div>
                {% image product.first_image.image fill-350x320-c100 class="img-fluid" %}
              </a>
              <div class="portfolio-caption">
                <h4>{{ product.title }}</h4>
              </div>
            </div>
          {% endwith %}
        {% endfor %}
      </div>
    </div>
  {% endwith %}
{% endfor %}
</section>

{% endblock %}

{% block extra_css %} 
  {% include "includes/small-nav.html" %}
{% endblock %}
