{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags hitcount_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
      <a class="navbar-brand navbar-left js-scroll-trigger" href="#page-top">
        <img src="{% static 'img/logo.png' %}" height="70"></img>
      </a>
  </div>
</nav>

<!-- Header -->
<header class="masthead"> 
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">{{ page.header }}</div>
      <div class="intro-heading text-uppercase">{{ page.subheader }}</div>
      <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
    </div>
  </div>
</header>

<!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
  
{% for category in page.get_children %}
  {% with category=category.specific %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ category.title }}</h2>
        </div>
      </div>
      <div class="row">
        {% for product in category.get_children %}
          {% with product=product.specific %}
            <div class="col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="{% pageurl product %}">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fa fa-plus fa-3x"></i>
                  </div>
                </div>
                {% image product.first_image.image fill-350x320-c100 class="img-fluid" %}
              </a>
              <div class="portfolio-caption">
                <h4>{{ product.title }}</h4>
              </div>
            </div>
          {% endwith %}
        {% endfor %}
      </div>
    </div>
  {% endwith %}
{% endfor %}
</section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Julie Bakes 2018</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <!--<li class="list-inline-item">-->
            <!--<a href="#">-->
              <!--<i class="fa fa-linkedin"></i>-->
            <!--</a>-->
          <!--</li>-->
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <span id="hitcount"></span>
            <!-- <a href="#"></a> -->
          </li>
          <!-- <li class="list-inline-item"> -->
      <!--      <a href="#">Terms of Use</a>-->
      <!--    </li>-->
        </ul>
      </div>
    </div>
  </div>
</footer>

{% endblock %}