{% extends "base.html" %} 
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand navbar-left js-scroll-trigger" href="/">
      <img src="{% static 'img/logo.png' %}" height="70"></img>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/productos/">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/basket/">Carrito</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"></div>
      <div class="intro-heading text-uppercase"></div>
    </div>
  </div>
</header>

<section class="bg-light">

  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Carrito</h2>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in basket %}
      <tr>
        <td>{% image item.variant.product.first_image.image max-75x75 %}</td>
        <td>{{item.variant.product.title}}</td>
        <td>{{item.quantity}}</td>
        <td>S/{{item.total}}</td>
        <td><button class="btn btn-primary text-uppercase" onclick="deleteProduct({{item.variant.pk}});">Eliminar</button></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">
          <p class="text-center">Carrito vac&iacute;o</p>
        </td>
      </tr>
      {% endfor %}
      {% if basket.count > 0 %}
        <tr>
          <td></td>
          <td></td>
          <th>Total</th>
          <th>S/{{total_price}}</th>
          <th></th>
        </tr>
        <tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="/checkout" class="btn btn-primary btn-xl text-uppercase">Checkout</a></td>
          </tr>
        </tr>
      {% endif %}
    </tbody>
  </table>

</section>
    

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Julie Bakes 2018</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
              <a href="https://instagram.com/julievbakes" target="_blank">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://facebook.com/Julie-Bakes-1676178559145386/" target="_blank">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <span id="hitcount"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

{% endblock %}

{% block extra_css %}
<style>
  #mainNav {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #212529 !important;
  }
</style>

{% endblock %}

{% block extra_js %}
<script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>
<script type="text/javascript">
  // jQuery(document).ready(function($) {
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    var deleteProduct = function(itemID){
      // console.log(itemID);
      $.ajax({
        url: '/api/basket/' + itemID + '/',
        type: 'DELETE',
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        },
        success: function(result) {
            console.log(result);
            location.reload();
        },
        error: function(data) {
          console.log(data);
        }
      });
    };
    
  // });
</script>

{% endblock %}