{% extends "base.html" %}

{% block content %}

<!-- Header -->
<header class="">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"></div>
      <div class="intro-heading text-uppercase"></div>
    </div>
  </div>
</header>

<section class="bg-light" id="team">
  <div class="container">
      <h1>Gracias por su compra!</h1>
      <p>Su n&uacute;mero de orden es #{{order.id}}. 
        Nos pondremos en contacto con usted en breve.</p>
      <a href="/">Volver</a>
  </div>
</section>

{% endblock %}

{% block extra_css %} 
<style>
  #mainNav {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #212529 !important;
  }
</style>
{% endblock %}
