{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags longclawbasket_tags %}

{% block body_class %} template-productpage {%endblock%}

{% block content %}

<!-- Header -->
<header class="">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in"></div>
      <div class="intro-heading text-uppercase"></div>
    </div>
  </div>
</header>

<!-- Product details -->
<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ page.title }}</h2>        
        <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          {% image page.specific.first_image.image fill-350x320-c100  class="mx-auto" %}
          <h4>S/{{ page.variants.first.price }}</h4>
          <!-- <p class="text-muted">S/{{ page.variants.first.price }}</p> -->
        </div>
      </div>
      <div class="col-sm-8">
        <div class="team-member">
          <h4>{{ page.description|richtext  }}</h4>
          <button id="add-button" class="btn btn-primary btn-xl text-uppercase">Agregar al carrito</button>
        </div>
      </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <!-- <a href="{% url 'longclaw_basket' %}">Carrito</a> -->
        <!-- <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p> -->
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block extra_css %} 
<style>
  #mainNav {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #212529 !important;
  }
</style>

{% endblock %}

{% block extra_js %}

<script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('#add-button').click(function () {

        // Add to the basket
        $.postCSRF("/api/basket/", { 
            variant_id: "{{ page.variants.first.pk }}",
            quantity: 1
        }).done(function(data) {
            console.log(data);
            window.location.replace('/basket/');
        }).fail(function(data) {
            console.log(data);
        });
    });
  });
</script>

{% endblock %}